* {
    color: #3A3938;
    background: transparent;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    font-weight: bold;

    border-radius: 0px;
    border: none;
}

tooltip {
    background: transparent;
    border: 1px solid #C5873F;
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
}

tooltip label {
    padding: 2px;
    color: #D7C383;
}

#waybar {
    background: linear-gradient(180deg, #decaa6 0%, #161618 100%);
    border-radius: 0 0 6px 6px;
    border: 1px solid #C5873F;
    border-left-width: 0;
    margin-bottom: 20px;
    opacity: 0.8;
}

#network {
    color: #3A3938;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 6px;
}

#network:hover {
    background: #C74E11;
    margin-left: 3px;
    margin-right: 3px;
}

#clock {
    margin-bottom: 280px;
}
/* #C74E11 */

#workspaces {
    margin-bottom: 700px;
    min-width: 0;
    transition: all 0.3s ease-in-out;
}

#workspaces button {
    color: #C74E11;
    background: linear-gradient(180deg, #D7C383 35%, #3a3938 100%);
    transition: all 0.3s ease-in-out;
    min-width: 0;
    border-radius: 6px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#workspaces button.active {
    color: #C74E11;
    background: linear-gradient(180deg, #D7C383 35%, #C74E11 100%);
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    min-height: 40px;
}

#workspaces button:hover {
    background: linear-gradient(180deg, #D7C383 35%, #C74E11 100%);
    min-height: 40px;
}
